* {
  margin: 0;
  padding: 0;
}
body {
  font-family: $font;
  background-color: $backgroundColor;
}
.webpage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  width: 70%;
  margin: auto;
}

.link {
  text-decoration: none;
}

@media (max-width: $laptop) {
  .container {
    width: 84%;
  }
}
@media (max-width: $tablet) {
  .container {
    width: 95%;
  }
}
