.searchCriteria {
  background-color: $white;
  margin-top: 3%;
  border-radius: 5px;
  text-align: center;
  h3 {
    padding: 3% 0;
    font-weight: 100;
  }
}
.searchFilter {
  display: flex;
  justify-content: space-between;
  padding: 4%;
  align-items: center;
  input {
    margin-top: 5%;
    padding: 1%;
  }
}

.filtersearch__nav {
  @include flex;
  padding: 2rem 0 0.5rem 0;
  color: $textColor;
}
.filtersearch__list {
  @include flex;
  padding-bottom: 2rem;
  list-style-type: none;
  select {
    @extend %input;
    background: $darkGrey;
    color: $white;
    padding: 0.5rem 1rem;
  }

  button {
    @extend %input;
    background-color: $blue;
    color: $white;
    padding: 0.8rem 4rem;
    &:hover {
      cursor: pointer;
    }
  }
}
