.footer {
  background-color: $darkGrey;
  color: $textColorHeader;
  margin-top: 5rem;
  .info {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
  }
  .infoSection {
    text-align: center;
    h4 {
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 0.8rem;
      font-weight: 100;
    }
  }
  img {
    width: 4%;
  }
}
