.navbar {
  background-color: $darkGrey;
}

.navbar__nav {
  @include flex;
  padding: 2% 0;
}

.navbar__links {
  color: $textColorHeader;
  list-style-type: none;
  :hover {
    color: $white;
  }
  input {
    @extend %input;
    background-color: $lighterGrey;
    padding: 0.5rem;
    &:focus {
      outline-style: none;
    }
  }
}

.leftNav {
  @include flex;
  width: 30%;
  font-weight: 200;
  font-size: 1.3rem;
  a {
    text-decoration: none;
    color: $textColorHeader;
    // &:focus {
    //   color: $blue;
    // }
  }
}

.rightNav {
  @include flex;
  width: 25%;
}
