.searchbar {
  width: 50%;
  position: relative;
}
.search {
  @include flex;
  background-color: $lighterGrey;
  border-radius: 5px;
  padding: 0 0.5rem;
  input {
    @extend %input;
    background-color: inherit;
    padding: 0.8rem;
    color: $textColorHeader;
  }
  input:focus {
    outline-style: none;
    width: 100%;
  }
}
.listResult {
  position: absolute;
  width: 100%;
  background-color: $white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.itemList {
  display: flex;
  margin: 2%;
  color: $darkGrey;
  transition: 0.3s ease-in-out;
  img {
    width: 7%;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
  }
  &:hover {
    img {
      width: 15%;
    }
  }
  .info {
    margin-left: 1em;
    h6 {
      font-weight: 200;
    }
  }
}
