.homepage {
  color: $lighterGrey;
}
.banner {
  text-align: center;
  padding: 10rem 0;
  font-size: 1.2rem;
}
.division {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 8rem 0;
  h3 {
    margin: auto 2rem;
    font-size: 1.2rem;
    text-align: center;
    width: 50%;
  }
  svg {
    width: 50%;
  }
}
.signUpSection {
  text-align:center;
  font-size: 1.2rem;

  p {
    margin-bottom: 2rem;
  }
  button {
    background-color: $blue;
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
    color:white
  }
}

@media (max-width: $laptopL) {
  .banner {
    padding: 5rem 0;
  }
}

@media (max-width: $tablet) {
  h1 {
    font-size: 1.5rem;
  }
  .banner {
    padding-bottom: 3rem;
    padding-top: 0rem;
  }
  .division {
    margin: 5rem 0;
    h3 {
      font-size: 1rem;
    }
  }
}
@media (max-width: $tablet2) {
  .division {
    margin: 0;
    height: 18rem;
  }
}
