// Font
$font: Helvetica;

//Colors
$backgroundColor: #eceff1;
$textColorHeader: #c4cdcf;
$darkGrey: #2e353d;
$lighterGrey: #444b54;
$white: #ffffff;
$blue: #2196f3;
$textColor: #8896a1;

//Breakpoint different screens
$laptopL: 1395px;
$laptop: 1054px;
$tablet: 826px;
$tablet2: 582px;
$mobile: 425px;
