* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1170px;
  margin: auto;
}

/* navbar*/
.navbar {
  background-color: #2e353d;
  padding: 20px 0;
}

.navbar__nav {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #c4cdcf;
}

.navbar__links li {
  color: #c4cdcf;
  list-style-type: none;
}

.navbar__links li :hover {
  color: #ffffff;
}

.navbar__brand {
  color: #c4cdcf;
  font-size: 1.5rem;
}

.leftNav {
  display: flex;
  justify-content: space-between;
  width: 30%;
  align-items: center;
}

.rightNav {
  display: flex;
  justify-content: space-between;
  width: 25%;
  align-items: center;
}
