.infopage {
  @include flex;
  align-items: flex-start;
  padding: 20px 0;
  img {
    border-radius: 5px;
  }
}

.infolist {
  margin-top: 1rem;
  p {
    margin: 0.5rem 0;
  }
  button {
    @extend %input;
    background-color: $blue;
    color: $white;
    padding: 10px;
    margin: 0.5rem 0;
    &:hover {
      cursor: pointer;
    }
  }
}

.description {
  margin: 0 auto;
  width: 50%;
  h3 {
    margin-bottom: 2rem;
  }
  p {
    margin-bottom: 2rem;
    max-width: 600px;
  }
}
